<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

	<title>Portfolio item - Progressus Bootstrap template</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:200,400,600|Open+Sans:300,400,700">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="assets/css/styles.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="page-portfolio-item">

	<!-- fixed navbar -->
	<div class= "navbar navbar-fixed-top headroom ontop-now">
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.ctp">
					<img src="assets/images/logo.png" alt="Progressus HTML5 template">
					<img src="assets/images/logo_on_white.png" alt="Progressus HTML5 template" class="secondary">
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="index.ctp">Home</a></li>
					<li><a href="landingstartup.ctp">Landing</a></li>
					<li><a href="features.ctp">Features</a></li>
					<li><a href="pricing.ctp">Pricing</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">More Pages <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="services.ctp">Services</a></li>
							<li><a href="portfolio.ctp">Portfolio</a></li>
							<li class="active"><a href="portfolioitem.ctp">Portfolio Item</a></li>
							<li><a href="blog.ctp">Blog Home</a></li>
							<li><a href="single.ctp">Single Post</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="sidebarleft.ctp">Left Sidebar</a></li>
							<li><a href="sidebarright.ctp">Right Sidebar</a></li>
							<li><a href="contact.ctp">Contact</a></li>
						</ul>
					</li>
					<li><a class="btn btn-rounded" href="signin.ctp">SIGN IN / SIGN UP</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- end of fixed navbar -->


	<!-- header (simple version) -->
	<div class="container">
		<h1 class="page-title">
			Portfolio item title
		</h1>
	</div>
	<!-- end of header -->


	<!-- portfolio item section -->
	<section class="section section-item"></section>
		<div class="container">
			<div class="row">

				<!-- main content -->
				<div class="col-md-8">

					<!-- carousel -->
					<div id="carousel-portfolio-item" class="carousel slide" data-ride="carousel">

			  		<!-- slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img src="assets/images/portfolio/full1.jpg" alt="">
							<div class="carousel-caption"></div>
						</div>
						<div class="item">
							<img src="assets/images/portfolio/full2.jpg" alt="">
							<div class="carousel-caption"></div>
						</div>
						<div class="item">
							<img src="assets/images/portfolio/full3.jpg" alt="">
							<div class="carousel-caption"></div>
						</div>
					</div>

					<!-- controls -->
					<a class="left carousel-control" href="#carousel-portfolio-item" role="button" data-slide="prev">
						<span class="" aria-hidden="true"><i class="fa fa-angle-left fa-4x icon-prev"></i></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#carousel-portfolio-item" role="button" data-slide="next">
						<span class="" aria-hidden="true"><i class="fa fa-angle-right fa-4x icon-next"></i></span>
						<span class="sr-only">Next</span>
					</a>
					</div>
					<!-- end of carousel -->


					<h3 class="topspace-2x">The problem</h3>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, itaque, cumque, maxime obcaecati reprehenderit ea dignissimos amet voluptatem id excepturi facilis totam veritatis maiores eveniet neque explicabo temporibus quisquam in ex ab fugiat ipsa tempore sunt corporis nostrum quam illum!</p>


					<h3 class="topspace-2x">Solution</h3>

					<p>Consectetur cupiditate labore repudiandae beatae nisi fugiat facilis natus illum vitae doloremque. In, perspiciatis, natus, impedit voluptas itaque odio repudiandae placeat nisi totam repellendus earum dolores mollitia tempore quasi beatae alias cum dicta maxime laborum corporis harum porro magnam laboriosam.</p>

					<p>Aut, eaque, minus atque alias odio mollitia cum nisi ipsa nulla natus quae minima similique ipsam aspernatur molestias animi in deleniti nam. Tempora, labore, modi eum perspiciatis doloremque sequi nam illo corporis iusto maiores nisi recusandae repellat animi reiciendis accusamus.</p>

					<p>A, quibusdam, nobis, eveniet consequatur alias doloremque officia blanditiis fuga et numquam labore reiciendis voluptas quis repellat quos sunt non dolore consectetur at sit nam tenetur dolorem? Harum, quas, sit perspiciatis esse odit temporibus aperiam nulla aspernatur sequi fugiat tempore?</p>

					<blockquote>Numquam, ut iure quia facere totam quas odit illo incidunt. Voluptatem, nostrum, ex, quasi incidunt similique cum maxime expedita unde labore inventore excepturi veniam corporis sequi facere ullam voluptates amet illum quam fuga voluptatibus ipsum atque sunt eos. Ut, necessitatibus.</blockquote>

					<p>Odit, laudantium, dolores, natus distinctio labore voluptates in inventore quasi qui nobis quis adipisci fugit id! Aliquam alias ea modi. Porro, odio, sed veniam hic numquam qui ad molestiae sint placeat expedita? Perferendis, enim qui numquam sequi obcaecati molestiae fugiat!</p>

					<p>Aperiam, odit, quasi, voluptate fugiat quisquam velit magni provident corporis animi facilis illo eveniet eum obcaecati adipisci blanditiis quas labore doloribus eos veniam repudiandae suscipit tempora ad harum odio eius distinctio hic deleniti. Sunt fuga ad perspiciatis repellat deleniti omnis!</p>
				</div>
				<!-- end of main content -->

				<!-- sidebar -->
				<aside class="col-md-4 sidebar-right">

					<p><b>Client:</b><br> MetaBinary Inc.</p>
					<p><b>Project:</b><br> Similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
					<p><b>Services provided:</b><br> UI and Web design, Frontend development. </p>
					<p><b>Date span:</b><br> March 2015 - May 2015</p>

					<p><b>Read also:</b><br>
						<span class="color-accent">
							<a href=""><i class="fa fa-2x fa-dribbble"></i></a> &nbsp;
							<a href=""><i class="fa fa-2x fa-behance-square"></i></a> &nbsp;
							<a href=""><i class="fa fa-2x fa-github-square"></i></a>
						</span>
					</p>

				</aside>
				<!-- end of sidebar -->
			</div>
			<!-- /row -->

		</div>
		<!-- /container -->

	</section>
	<!-- end of portfolio item section -->


	<footer id="footer" class="topspace-3x">

		<div class="footer1">
			<div class="container">
				<div class="row">

					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>+234 23 9873237<br>
								<a href="mailto:#">some.email@somewhere.com</a><br>
								<br>
								234 Hidden Pond Road, Ashland City, TN 37015
							</p>
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Follow us</h3>
						<div class="widget-body">
							<p class="follow-me-icons clearfix">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-dribbble fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Text widget</h3>
						<div class="widget-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
							<p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="#">Home</a> |
								<a href="about.html">About</a> |
								<a href="sidebarright.ctp">Sidebar</a> |
								<a href="contact.ctp">Contact</a> |
								<b><a href="signup.html">Sign up</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2014, Your name. Design: <a href="http://gettemplate.com/" rel="designer">GetTemplate</a>
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>


	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="assets/js/bootstrap-hover-dropdown.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
</body>
</html>
