<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

	<title>Pricing - Progressus Bootstrap template</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:200,400,600|Open+Sans:300,400,700">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="assets/css/styles.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="page-pricing">

	<!-- fixed navbar -->
	<div class= "navbar navbar-fixed-top headroom ontop-now">
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.ctp">
					<img src="assets/images/logo.png" alt="Progressus HTML5 template">
					<img src="assets/images/logo_on_white.png" alt="Progressus HTML5 template" class="secondary">
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="index.ctp">Home</a></li>
					<li><a href="landingstartup.ctp">Landing</a></li>
					<li><a href="features.ctp">Features</a></li>
					<li class="active"><a href="pricing.ctp">Pricing</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">More Pages <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="services.ctp">Services</a></li>
							<li><a href="portfolio.ctp">Portfolio</a></li>
							<li><a href="portfolioitem.ctp">Portfolio Item</a></li>
							<li><a href="blog.ctp">Blog Home</a></li>
							<li><a href="single.ctp">Single Post</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="sidebarleft.ctp">Left Sidebar</a></li>
							<li><a href="sidebarright.ctp">Right Sidebar</a></li>
							<li><a href="contact.ctp">Contact</a></li>
						</ul>
					</li>
					<li><a class="btn btn-rounded" href="signin.ctp">SIGN IN / SIGN UP</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- end of fixed navbar -->

	<!-- header (simple version) -->
	<header class="head-simple">
		<div class="container">
			<h1 class="page-title text-center">
				Pricing
				<span>THIS IS A SIMPLER, ALTERNATE HEADER FOR A PAGE.</span>
			</h1>
		</div>
	</header>
	<!-- end of header -->

	<!-- pricing section -->
	<section class="section section-pricing">
		<div class="container" role="tabpanel">


			<strong>
				<ul class="inline-toggler text-right" role="tablist">
					<li role="presentation" class="active"><a href="#monthly" aria-controls="monthly" role="tab" data-toggle="tab">Monthly pricing</a></li>
					<li role="presentation"><a href="#yearly" aria-controls="yearly" role="tab" data-toggle="tab">Save with annual pricing</a></li>
				</ul>
			</strong>

			<div class="tab-content">

				<!-- Monthly pricing -->
				<div class="row topspace tab-pane active" role="tabpanel" id="monthly">
					<div class="col-sm-4">
						<div class="price-plan most-popular">
							<h2>First class</h2>
							<div class="price">
								<div class="inside"><i>$</i><b>99<sup>99</sup></b></div>
							</div>
							<div class="info">
								<p class="text-center">All inclusive! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et veritatis iure, quia culpa labore eaque molestiae animi harum explicabo atque.</p>
								<ul class="list-unstyled details">
									<li><b>Everything other plans offer plus:</b></li>
									<li>Up to 9 extra features</li>
									<li>Up to 5 VIP features</li>
								</ul>
								<span class="pricing-m text-center"><span class="btn btn-lg btn-block btn-text"><i class="fa fa-check color-action"></i> Your current plan</span></span>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="price-plan">
							<h2>Business</h2>
							<div class="price">
								<div class="inside"><i>$</i><b>29<sup>99</sup></b></div>
							</div>
							<div class="info">
								<p class="text-center">Best value for the price! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quae cupiditate qui doloribus obcaecati quis, numquam inventore ullam doloremque eum. </p>
								<ul class="list-unstyled details">
									<li><b>Everything Economy plan offers plus:</b></li>
									<li>Up to 3 extra features</li>
									<li>1 mega feature</li>
								</ul>
								<span class="pricing-m" style="display: inline;"><a class="btn btn-lg btn-block btn-default" href="#">Choose plan</a></span>
								<span class="pricing-y" style="display: none;"><a class="btn btn-lg btn-block btn-default" href="#">Choose plan</a></span>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="price-plan">
							<h2>Economy</h2>
							<div class="price">
								<div class="inside"><b class="text-condensed">Free</b></div>
							</div>
							<div class="info">
								<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione voluptate, tempore itaque vitae temporibus reiciendis, tempora a non, illo reprehenderit.</p>
								<ul class="list-unstyled details">
									<li><b>Free forever</b></li>
									<li>Only basic functionality</li>
									<li>Very few extra features</li>
								</ul>
								<a class="btn btn-lg btn-block btn-default" href="#">Choose plan</a>
							</div>
						</div>
					</div>
				</div>

				<!-- Annual pricing -->
				<div class="row topspace tab-pane" role="tabpanel" id="yearly">
					<div class="col-sm-4">
						<div class="price-plan most-popular">
							<h2>First class</h2>
							<div class="price">
								<div class="inside"><i>$</i><b>899</b></div>
							</div>
							<div class="info">
								<p class="text-center">All inclusive! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et veritatis iure, quia culpa labore eaque molestiae animi harum explicabo atque.</p>
								<ul class="list-unstyled details">
									<li><b>Everything other plans offer plus:</b></li>
									<li>Up to 9 extra features</li>
									<li>Up to 5 VIP features</li>
								</ul>
								<span class="pricing-m text-center"><span class="btn btn-lg btn-block btn-text"><i class="fa fa-check color-action"></i> Your current plan</span></span>
								<span class="pricing-y" style="display: none;"><a class="btn btn-lg btn-block btn-default" href="#">Choose plan</a></span>
							</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="price-plan">
							<h2>Business</h2>
							<div class="price">
								<div class="inside"><i>$</i><b>299<sup>99</sup></b></div>
							</div>
							<div class="info">
								<p class="text-center">Best value for the price! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quae cupiditate qui doloribus obcaecati quis, numquam inventore ullam doloremque eum. </p>
								<ul class="list-unstyled details">
									<li><b>Everything Economy plan offers plus:</b></li>
									<li>Up to 3 extra features</li>
									<li>1 mega feature</li>
								</ul>
								<span class="pricing-m" style="display: inline;"><a class="btn btn-lg btn-block btn-default" href="#">Choose plan</a></span>
								<span class="pricing-y" style="display: none;"><a class="btn btn-lg btn-block btn-default" href="#">Choose plan</a></span>
							</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="price-plan">
							<h2>Economy</h2>
							<div class="price">
								<div class="inside hideme" style="display: none;"><b class="text-condensed">Free</b></div>
								<div class="inside" style="display: block;"><b class="text-condensed">Free</b></div>
							</div>
							<div class="info">
								<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione voluptate, tempore itaque vitae temporibus reiciendis, tempora a non, illo reprehenderit.</p>
								<ul class="list-unstyled details">
									<li><b>Free forever</b></li>
									<li>Only basic functionality</li>
									<li>Very few extra features</li>
								</ul>
								<a class="btn btn-lg btn-block btn-default" href="#">Choose plan</a>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- /tab-content  -->

		</div>
	</section>
	<!-- end of pricing section -->


	<!-- FAQ section -->
	<section class="section">
		<div class="container">
			<h2 class="text-center title">Questions</h2>

			<!-- questions line -->
			<div class="row">
				<div class="col-sm-4 col-sm-push-2">
					<h4 class="">Lorem ipsum dolor sit amet, consectetur adipisicing?</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis officia quisquam ea unde est vero, odio necessitatibus quos impedit! Alias, asperiores porro. Nihil, at, sunt.</p>
				</div>
				<div class="col-sm-4 col-sm-push-2">
					<h4 class="">Tenetur, modi a necessitatibus qui eveniet, reiciendis?</h4>
					<p>Aut neque expedita, deserunt! Rerum, perspiciatis, doloribus. Molestiae, necessitatibus harum ut amet tempora, nam libero. Libero ut, voluptas quos veritatis asperiores amet et quae rem.</p>
				</div>
			</div>

			<!-- questions line -->
			<div class="row topspace">
				<div class="col-sm-4 col-sm-push-2">
					<h4 class="">Nobis laboriosam, blanditiis ex quas libero et?</h4>
					<p>Animi facere, magni laborum fuga quaerat eos consequuntur ducimus, molestias quae quos tenetur nesciunt, dolorem dignissimos culpa distinctio deserunt odio sint quam ut voluptas rerum!</p>
				</div>
				<div class="col-sm-4 col-sm-push-2">
					<h4 class="">Necessitatibus natus asperiores ullam, tempora minus aperiam?</h4>
					<p>Consequatur modi, cumque in sit expedita non eos eum nam maiores assumenda quasi at mollitia autem numquam beatae accusamus quas et nobis. Totam, quis, sed.</p>
				</div>
			</div>

			<!-- questions line -->
			<div class="row topspace">
				<div class="col-sm-4 col-sm-push-2">
					<h4 class="">Lorem ipsum dolor sit amet, consectetur adipisicing?</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis officia quisquam ea unde est vero, odio necessitatibus quos impedit! Alias, asperiores porro. Nihil, at, sunt.</p>
				</div>
				<div class="col-sm-4 col-sm-push-2">
					<h4 class="">Tenetur, modi a necessitatibus qui eveniet, reiciendis?</h4>
					<p>Aut neque expedita, deserunt! Rerum, perspiciatis, doloribus. Molestiae, necessitatibus harum ut amet tempora, nam libero. Libero ut, voluptas quos veritatis asperiores amet et quae rem.</p>
				</div>
			</div>

		</div>
	</section>
	<!-- end of FAQ section -->

	<section class="section jumbotron bottomspace-0">
		<div class="container">
			<h4 class="text-center text-uppercase">Ad in eum beatae alias facilis, sint nihil, iste, deserunt accusamus assumenda deleniti autem.</h4>
			<div class="text-center topspace"><a href="" class="btn btn-lg btn-action">SUBSCRIBE TODAY</a></div>
		</div>
	</section>

	<footer id="footer" class="">

		<div class="footer1">
			<div class="container">
				<div class="row">

					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>+234 23 9873237<br>
								<a href="mailto:#">some.email@somewhere.com</a><br>
								<br>
								234 Hidden Pond Road, Ashland City, TN 37015
							</p>
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Follow us</h3>
						<div class="widget-body">
							<p class="follow-me-icons clearfix">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-dribbble fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Text widget</h3>
						<div class="widget-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
							<p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="#">Home</a> |
								<a href="about.html">About</a> |
								<a href="sidebarright.ctp">Sidebar</a> |
								<a href="contact.ctp">Contact</a> |
								<b><a href="signup.html">Sign up</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2014, Your name. Design: <a href="http://gettemplate.com/" rel="designer">GetTemplate</a>
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>


	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="assets/js/bootstrap-hover-dropdown.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
</body>
</html>
