<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

	<title>Services - Progressus Bootstrap template</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:200,400,600|Open+Sans:300,400,700">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="assets/css/styles.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="page-services">

	<!-- fixed navbar -->
	<div class= "navbar navbar-dual navbar-inverse navbar-fixed-top headroom ontop-now">
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.ctp">
					<img src="assets/images/logo.png" alt="Progressus HTML5 template">
					<img src="assets/images/logo_on_white.png" alt="Progressus HTML5 template" class="secondary">
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="index.ctp">Home</a></li>
					<li><a href="landingstartup.ctp">Landing</a></li>
					<li><a href="features.ctp">Features</a></li>
					<li><a href="pricing.ctp">Pricing</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">More Pages <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="active"><a href="services.ctp">Services</a></li>
							<li><a href="portfolio.ctp">Portfolio</a></li>
							<li><a href="portfolioitem.ctp">Portfolio Item</a></li>
							<li><a href="blog.ctp">Blog Home</a></li>
							<li><a href="single.ctp">Single Post</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="sidebarleft.ctp">Left Sidebar</a></li>
							<li><a href="sidebarright.ctp">Right Sidebar</a></li>
							<li><a href="contact.ctp">Contact</a></li>
						</ul>
					</li>
					<li><a class="btn btn-rounded" href="signin.ctp">SIGN IN / SIGN UP</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- end of fixed navbar -->

	<!-- header -->
	<header class="head-inner">
		<div class="container">
			<div class="row">
				<h1 class="page-title text-center">Our Wunder Services</h1>
				<h2 class="page-lead text-center">Our team of experts will make all your dreams come true!</h2>
				<div class="text-center col-sm-6 col-sm-push-3 topspace">Our mission is... lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis odit beatae, consequatur adipisci quisquam minima atque, illo, impedit hic obcaecati sed sunt asperiores maiores aperiam aliquid.</div>
			</div>
		</div>
	</header>
	<!-- end of header -->

	<section class="section">
		<div class="container">
			<h5 class="lead text-center">Don't hesitate to ask for a free consultation. Email at <a href="mailto:gt@gettemplate.com">gt@gettemplate.com</a></h5>
		</div>
	</section>

	<!-- services section 1 -->
	<section class="section section-services1">
		<div class="container">
			<div class="row">

				<div class="col-sm-4">
					<div class="panel panel-box">
						<div class="panel-thumbnail"><img src="assets/images/s1.jpg" class="img-responsive"></div>
						<div class="panel-body">
							<h4>UI/UX design</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem quaerat dolorum, placeat animi consequatur tempore ratione facere, in atque beatae recusandae nesciunt quis, dolore voluptate totam tempora cum maxime. Nostrum voluptates voluptatibus ipsa, temporibus qui non soluta dicta laboriosam, perspiciatis eaque est quia magnam fuga!</p>
							<p class="text-center"><a href="" class="btn btn-default">Learn more</a></p>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="panel panel-box">
						<div class="panel-thumbnail"><img src="assets/images/s2.jpg" class="img-responsive"></div>
						<div class="panel-body">
							<h4>Support &amp; Maintenance</h4>
							<p>Laboriosam adipisci, cumque ducimus. Sapiente mollitia, ipsam voluptatem architecto. Eaque iste facilis fugit praesentium enim saepe, minima deleniti, natus consequuntur, animi perspiciatis impedit inventore porro repudiandae! Voluptatibus doloremque iste itaque culpa, accusantium hic officiis voluptas provident neque, officia dignissimos! Tempora ex, dolore?</p>
							<p class="text-center"><a href="" class="btn btn-default">Learn more</a></p>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="panel panel-box">
						<div class="panel-thumbnail"><img src="assets/images/s3.jpg" class="img-responsive"></div>
						<div class="panel-body">
							<h4>Custom CMS Plugins</h4>
							<p>Vitae necessitatibus neque accusamus eligendi vero mollitia porro explicabo, pariatur possimus placeat voluptatibus eum nobis ullam fugiat doloremque dicta aut quos ducimus, animi nemo tempore illum blanditiis reprehenderit deleniti! Eius facilis veniam nobis error nostrum delectus quibusdam praesentium a nemo voluptate. Aut, minima, illum.</p>
							<p class="text-center"><a href="" class="btn btn-default">Learn more</a></p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	<!-- services section 2 -->
	<section class="section section-services2 info-icons-h">
		<div class="container">
			<h3 class="title text-center">One more version of the list</h3>

			<div class="row">
			<figure class="col-md-3">
				<i class="icon fa fa-gift color-action"></i>
				<div class="text">
					<h3 class="caption">UI/UX Design</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint unde eaque officia iste quibusdam nostrum, dicta excepturi libero, obcaecati eum.</p>
					<p><a href="">Learn more &rarr;</a></p>
				</div>
			</figure>
			<figure class="col-md-3">
				<i class="icon fa fa-cogs color-action"></i>
				<div class="text">
					<h3 class="caption">Support &amp; Maintenance</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint unde eaque officia iste quibusdam nostrum, dicta excepturi libero, obcaecati eum.</p>
					<p><a href="">Learn more &rarr;</a></p>
				</div>
			</figure>
			<figure class="col-md-3">
				<i class="icon fa fa-magic color-action"></i>
				<div class="text">
					<h3 class="caption">Plugin Development</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint unde eaque officia iste quibusdam nostrum, dicta excepturi libero, obcaecati eum.</p>
					<p><a href="">Learn more &rarr;</a></p>
				</div>
			</figure>
			<figure class="col-md-3">
				<i class="icon fa fa-random color-action"></i>
				<div class="text">
					<h3 class="caption">Customization</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint unde eaque officia iste quibusdam nostrum, dicta excepturi libero, obcaecati eum.</p>
					<p><a href="">Learn more &rarr;</a></p>
				</div>
			</figure>
			</div> <!-- /row -->

			<div class="row topspace-2x">
			<figure class="col-md-3">
				<i class="icon fa fa-users color-action"></i>
				<div class="text">
					<h3 class="caption">User training</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint unde eaque officia iste quibusdam nostrum, dicta excepturi libero, obcaecati eum.</p>
					<p><a href="">Learn more &rarr;</a></p>
				</div>
			</figure>
			<figure class="col-md-3">
				<i class="icon fa fa-cogs color-action"></i>
				<div class="text">
					<h3 class="caption">Complex Solutions</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint unde eaque officia iste quibusdam nostrum, dicta excepturi libero, obcaecati eum.</p>
					<p><a href="">Learn more &rarr;</a></p>
				</div>
			</figure>
			<figure class="col-md-3">
				<i class="icon fa fa-shopping-cart color-action"></i>
				<div class="text">
					<h3 class="caption">Shopping Cart Integration</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint unde eaque officia iste quibusdam nostrum, dicta excepturi libero, obcaecati eum.</p>
					<p><a href="">Learn more &rarr;</a></p>
				</div>
			</figure>
			<figure class="col-md-3">
				<i class="icon fa fa-rocket color-action"></i>
				<div class="text">
					<h3 class="caption">SEO Optimization</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint unde eaque officia iste quibusdam nostrum, dicta excepturi libero, obcaecati eum.</p>
					<p><a href="">Learn more &rarr;</a></p>
				</div>
			</figure>
			</div> <!-- /row -->
		</div>
	</section>

	<!-- call to action -->
	<section class="section">
		<div class="container">
			<div class="cta-simple">
				<p>Do you like this template? Order one, make your site awesome!</p>
				<p><a href="http://www.gettemplate.com/pro/" class="btn btn-primary btn-large responsive">Order now</a></p>
			</div>
		</div>
	</section>
	<!-- end of call to action -->


	<footer id="footer" class="">

		<div class="footer1">
			<div class="container">
				<div class="row">

					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>+234 23 9873237<br>
								<a href="mailto:#">some.email@somewhere.com</a><br>
								<br>
								234 Hidden Pond Road, Ashland City, TN 37015
							</p>
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Follow us</h3>
						<div class="widget-body">
							<p class="follow-me-icons clearfix">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-dribbble fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Text widget</h3>
						<div class="widget-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
							<p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="#">Home</a> |
								<a href="about.html">About</a> |
								<a href="sidebarright.ctp">Sidebar</a> |
								<a href="contact.ctp">Contact</a> |
								<b><a href="signup.html">Sign up</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2014, Your name. Design: <a href="http://gettemplate.com/" rel="designer">GetTemplate</a>
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>


	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="assets/js/bootstrap-hover-dropdown.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
</body>
</html>
