<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

	<title>Blog post - Progressus Bootstrap template</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:200,400,600|Open+Sans:300,400,700">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="assets/css/styles.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="page-single">

	<!-- fixed navbar -->
	<div class= "navbar navbar-dual navbar-inverse navbar-fixed-top headroom ontop-now">
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.ctp">
					<img src="assets/images/logo.png" alt="Progressus HTML5 template">
					<img src="assets/images/logo_on_white.png" alt="Progressus HTML5 template" class="secondary">
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="index.ctp">Home</a></li>
					<li><a href="landingstartup.ctp">Landing</a></li>
					<li><a href="features.ctp">Features</a></li>
					<li><a href="pricing.ctp">Pricing</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">More Pages <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="services.ctp">Services</a></li>
							<li><a href="portfolio.ctp">Portfolio</a></li>
							<li><a href="portfolioitem.ctp">Portfolio Item</a></li>
							<li><a href="blog.ctp">Blog Home</a></li>
							<li class="active"><a href="single.ctp">Single Post</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="sidebarleft.ctp">Left Sidebar</a></li>
							<li><a href="sidebarright.ctp">Right Sidebar</a></li>
							<li><a href="contact.ctp">Contact us</a></li>
						</ul>
					</li>
					<li><a class="btn btn-rounded" href="signin.ctp">SIGN IN / SIGN UP</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- end of fixed navbar -->


	<!-- header -->
	<header class="head-inner">
		<div class="container">
			<div class="row">
				<div class="head-avatar text-center"><img class="img-circle" src="assets/images/people/1.jpg" alt=""></div>
				<h2 class="page-lead text-center">Written by Anthony Russel</h2>
			</div>
		</div>
	</header>
	<!-- end of header -->


	<!-- posts section -->
	<section class="section section-blog topspace-3x">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">

					<!-- post -->
	 				<article class="post">
						<div class="entry-header">
	 						<h1 class="entry-title"><a href="single.ctp" rel="bookmark">Vivamus Lacus Mauris</a></h1>
	 						<div class="entry-meta">
	 							<span class="posted-on"><time class="entry-date published" date="2015-04-14">April 14, 2015</time> <span class="meta-divider">•</span> Tags: <a href="">Updates</a>, <a href="">Site News</a> </span>
	 						</div>
						</div>
						<div class="entry-content">
							<p><img alt="" src="assets/images/mac.jpg"></p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit voluptates dolores reiciendis iure sint rem incidunt quas dignissimos dolore fugit repellendus consectetur placeat, in ut. Soluta quia at, ipsam maiores ullam vel voluptate quas exercitationem, consectetur sapiente blanditiis consequatur! Voluptates inventore nesciunt corrupti accusantium omnis nulla distinctio perferendis culpa neque error rem totam, porro, veritatis temporibus tempora sequi adipisci maxime fugiat officiis corporis exercitationem explicabo.</p>
							<p>
								Explicabo possimus itaque excepturi culpa aliquam quaerat a asperiores omnis autem minima libero, ducimus, quas dignissimos quia accusantium. Illum quibusdam ad explicabo voluptates nostrum velit facere ducimus a! Asperiores vitae distinctio blanditiis voluptatibus dignissimos praesentium ratione dicta, aperiam accusantium expedita.
								<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, quidem. In culpa pariatur, ab quas magnam numquam eveniet itaque eius aperiam consectetur. Porro perspiciatis non, tempora. Error sint, id soluta!</blockquote>
								Cupiditate unde eaque, quaerat, ut pariatur ipsum cum eligendi. Temporibus optio voluptatibus amet commodi eaque dignissimos necessitatibus, dicta tempora. Iste consequuntur, ea deserunt omnis quis!</p>
							<p>Sint repudiandae, voluptates quisquam eveniet nam eum quos accusantium, accusamus similique mollitia ad ducimus sapiente, nihil at animi error nesciunt inventore suscipit, porro pariatur iusto. Assumenda debitis, sequi illo, eius hic error aperiam sit dicta dolorum tempore cum est, esse eaque, suscipit iusto culpa excepturi deserunt natus! Fugit tempore ex nemo tempora dicta, architecto ab expedita, nobis minus pariatur, iure veritatis adipisci hic repellendus ut.</p>
						</div>
					</article>
					<!-- /post -->

					<p class="text-center"><a href="blog.ctp" class="btn btn-action btn-ghost btn-rounded"><i class="fa fa-long-arrow-left"></i> Back to blog home</a></p>

					<!-- comments -->
					<div id="comments" class="topspace-2x">
					<h3>3 Comments</h3>
					<p><a href="#comment-form" class="leave-comment">Leave a Comment</a></p>

					<ol class="comments-list">
						<li class="comment">
							<div>
								<img src="assets/images/people/1.jpg" alt="Avatar" class="avatar">

								<div class="comment-meta">
									<span class="author"><a href="#">John Doe</a></span>
									<span class="date"><a href="#">April 22, 2015 at 4:55 pm</a></span>
									<span class="reply"><a href="#">Reply</a></span>
								</div>

								<div class="comment-body">
									Morbi velit eros, sagittis in facilisis non.
								</div>
							</div>

							<ul class="children">
								<li class="comment">
									<div>
										<img src="assets/images/people/3.jpg" alt="Avatar" class="avatar">

										<div class="comment-meta">
											<span class="author"><a href="#">John Doe</a></span>
											<span class="date"><a href="#">April 22, 2015 at 4:55 pm</a></span>
											<span class="reply"><a href="#">Reply</a></span>
										</div><!-- /comment-meta -->

										<div class="comment-body">
											Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus. Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus.
										</div><!-- /comment-body -->
									</div>
								</li>
							</ul><!-- /children -->
						</li>

						<li class="comment">
							<div>
								<img src="assets/images/people/2.jpg" alt="Avatar" class="avatar">

								<div class="comment-meta">
									<span class="author"><a href="#">Jonnes</a></span>
									<span class="date"><a href="#">April 22, 2015 at 4:55 pm</a></span>
									<span class="reply"><a href="#">Reply</a></span>
								</div><!-- /comment-meta -->

								<div class="comment-body">
									Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus.												</div><!-- /comment-body -->
							</div>
						</li>
					</ol>

					<div class="clearfix"></div>

					<nav id="comment-nav-below" class="comment-navigation clearfix" role="navigation">
						<div class="nav-content">
							<div class="nav-previous"><a href=""><i class="fa fa-long-arrow-left"></i> Older Comments</a></div>
							<div class="nav-next"><a href="">Newer Comments <i class="fa fa-long-arrow-right"></i></a></div>
						</div>
					</nav>
					<!-- /comment-nav-below -->


					<div id="respond" class="topspace-2x">
						<h3 id="reply-title">Leave a Reply</h3>
						<form action="" method="post" id="commentform" class="">
							<div class="form-group">
								<label for="inputName">Name</label>
								<input type="text" class="form-control" id="inputName" placeholder="Enter your name">
							</div>
							<div class="form-group">
								<label for="inputEmail">Email address <i class="text-danger">*</i></label>
								<input type="email" class="form-control" id="inputEmail" placeholder="Enter your email">
							</div>
							<div class="form-group">
								<label for="inputWeb">Website</label>
								<input type="nane" class="form-control" id="inputWeb" placeholder="http://">
							</div>
							<div class="form-group">
								<label for="inputComment">Comment</label>
								<textarea class="form-control" rows="6"></textarea>
							</div>
							<div class="form-group text-right">
								<button type="submit" class="btn btn-action">Submit</button>
							</div>
						</form>
						</div> <!-- /respond -->
					</div>
					<!-- /comments -->



				</div>
			</div>
		</div>
	</section>
	<!-- end of posts section -->


	<!-- subscribe to updates section -->
	<section class="section jumbotron bottomspace-0">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-push-2">
					<h3>Don't miss any update</h3>
					<p>Subscribe to our newsletter. Don't worry, we're not going to spam you )</p>
				</div>
				<div class="col-sm-3 col-sm-push-3">
					<div class="input-group topspace-2x">
						<input type="text" class="form-control" placeholder="your@email">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">Subscribe</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end of subscribe to updates section -->



	<footer id="footer">

		<div class="footer1">
			<div class="container">
				<div class="row">

					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>+234 23 9873237<br>
								<a href="mailto:#">some.email@somewhere.com</a><br>
								<br>
								234 Hidden Pond Road, Ashland City, TN 37015
							</p>
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Follow us</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-dribbble fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Text widget</h3>
						<div class="widget-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
							<p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="#">Home</a> |
								<a href="about.html">About</a> |
								<a href="sidebarright.ctp">Sidebar</a> |
								<a href="contact.ctp">Contact</a> |
								<b><a href="signup.html">Sign up</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2014, Your name. Design: <a href="http://gettemplate.com/" rel="designer">GetTemplate</a>
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>


	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="assets/js/bootstrap-hover-dropdown.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
</body>
</html>
